.header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(130, 130, 130, 0.7);
    box-shadow: 0 5px 5px #777;
}