.form {
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 15px;
  border: 1px solid rgba(130, 130, 130, 0.7);
  box-shadow: 0 5px 5px #777;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
}

.input {
  margin-top: 15px;
  margin-bottom: 25px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid rgba(130, 130, 130, 0.7);
  border-radius: 4px;
  box-shadow: 0 5px 5px #777;    
}

.input:focus {
  outline: none;
}

/* .formButton{
  display: block;
  margin-left: 100px;
  /* padding: 10px 20px; */
  /* border-radius: 4px; */
  /* border: 1px solid rgba(130, 130, 130, 0.7); */
  /* font-size: 14px;
  line-height: 1.3em;
  cursor: pointer; */


/* .formButton:focus,
.formButton:hover {
  outline: none;
  background-color: rgb(223, 223, 223);
  box-shadow: 0 5px 5px #777;
} */